img {
    width: 100px;
    height: 100px;
}

img:hover {
    font-size: 50px;
}

#logo-ig {
    width: 90px;
    height: 90px;
}

#div-container {
    margin: 0 auto;
    text-align: center;
}

.logos {
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 0.2em;
    padding: 20px;
    animation-name: logos;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}


@keyframes logos {
    0% {
        width: 12%;
    }

    100% {
        width: 98%;
        border-radius: 1em;
    }
}


