<app-header></app-header>
<app-nav></app-nav>

<div class="container" id="div-acerca-de">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRklekOYW2LlFSeWAu5m3ig8cSW6MYSRc3ruQ&usqp=CAU" style="width: 400px; height: 300px; margin-top: 10px; border-radius: 1em;">
  <hr>
  <b style="border: 1px solid black; padding: 5px; background-color: black; color: white;">Nombre</b><span> {{dueno.nombre}}</span>
  <hr>
  <b style="border: 1px solid black; padding: 5px; background-color: black; color: white;">Apellido</b><span> {{dueno.apellido}}</span>
  <hr>
  <b style="border: 1px solid black; padding: 5px; background-color: black; color: white;">Edad</b><span> {{dueno.edad}}</span>
  <hr>
  <b style="border: 1px solid black; padding: 5px; background-color: black; color: white;">Experiencia</b><span> {{dueno.experiencia}}</span>
  <hr>
  <b style="border: 1px solid black; padding: 5px; background-color: black; color: white;">Educacion</b><span> {{dueno.educacion}}</span>
  <hr>
</div>